table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid white;
}

th {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 1px solid white;
}

td {
  padding: 0.5rem 1rem;
  text-align: left;
  border: 1px solid white;
}
